First we will import libraries in one cell so to make it more **cleaned**

This analysis is done by ``Aditya Sharma`` using data presented by [link](https://www.kaggle.com/sudalairajkumar/covid19-in-india?select=covid_vaccine_statewise.csv)

In [7]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.feature_selection import RFE

 ### Libraries 
    We are using here various Libraries to perform our analysis
      1.Panadas for the visualization 
      2.Seaborn For visualizarions
      3.Numpy for the numerical data analysis
      4.Matplotlib also for visualizations
      5.Sklearn for machcine learning

In [8]:
covid_test_data= pd.read_csv("data\covid_19_india.csv")
covid_test_data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [9]:
covid_test_data.shape

(14150, 9)

In [14]:
covid_test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14150 entries, 0 to 14149
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       14150 non-null  int64
 1   Date                      14150 non-null  object
 2   Time                      14150 non-null  object
 3   State/UnionTerritory      14150 non-null  object
 4   ConfirmedIndianNational   14150 non-null  object
 5   ConfirmedForeignNational  14150 non-null  object
 6   Cured                     14150 non-null  int64
 7   Deaths                    14150 non-null  int64
 8   Confirmed                 14150 non-null  int64
dtypes: int64(4), object(5)
memory usage: 995.0+ KB

In [12]:
covid_statewise= pd.read_csv("data\StatewiseTestingDetails.csv")
covid_statewise.head()

         Date                        State  TotalSamples  Negative  Positive
0  2020-04-17  Andaman and Nicobar Islands        1403.0    1210.0      12.0
1  2020-04-24  Andaman and Nicobar Islands        2679.0       NaN      27.0
2  2020-04-27  Andaman and Nicobar Islands        2848.0       NaN      33.0
3  2020-05-01  Andaman and Nicobar Islands        3754.0       NaN      33.0
4  2020-04-02               Andhra Pradesh        1800.0    1175.0     132.0